<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <header>
            <%- include('./partials/navbar.ejs') %>
        </header>

        <div class="container mt-5 mb-5">
            <h1>My Resume</h1>
            <hr>
            <div class="pdf-container" style="height: 1200px;width:autp; border: 1px solid #ccc;margin:auto;">
                <!-- Embed PDF using the path passed from the backend -->
                <object data="<%= pdfPath %>" type="application/pdf" width="100%" height="100%">
                    <p>Your browser does not support PDFs. <a href="<%= pdfPath %>">Download the PDF</a>.</p>
                </object>
            </div>
        </div>

        <footer class="mt-5">
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>

</html>